<button type="button" class="btn btn-success mb-1" data-toggle="modal" data-target="#MemberProcessRole">
    <i class="fa fa-plus"></i>  Add Member 
</button>
  
  <div class="modal fade" id="MemberProcessRole" tabindex="-1" role="dialog" aria-labelledby="MemberProcessRoleLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MemberProcessRoleLabel">Add Member Process Role</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Ok</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

        </div>
      </div>
    </div>
  </div>